  version: 2.1
  jobs:
    build:
      docker: 
        - image: circleci/node:4.8.2 # the primary container, where your job's commands are run
           environment:
               TZ: "America/Los_Angeles"
      steps:
        - checkout # check out the code in the project directory
        - run: yarn && yarn build && yarn test
